@component('emails/layouts/main')
  <h1>Hola, {{ user.fullName }}!</h1>
  <p>Se ha solicitado un restablecimiento de contraseña para tu cuenta. Para continuar, haz clic en el siguiente enlace:</p>
  <p><a href="{{ `${appUrl}/auth/password/update?id=${user.id}&signature=${signature}` }}" target="_blank">Restablecer contraseña</a></p>
  <p>Este enlace caducará en 24 horas. Si no puedes hacer clic en el enlace, copia y pega la siguiente URL en tu navegador:</p>
  <p>{{ `${appUrl}/auth/password/update?id=${user.id}&signature=${signature}` }}</p>
  <p>Si no solicitaste este cambio, puedes ignorar este mensaje. Tu contraseña permanecerá sin cambios.</p>
  <p>Gracias,</p>
@end
